.container {
    display: flex;
}
.form {
    width:64vh;
    height:74vh;
    background: #E6E6E6;
    border-radius:8px;
    margin:5vw auto;
    padding:2em;
    max-width: 90vw;
    box-sizing:border-box;
    font-family: Nunito,sans-serif;
    position:relative;
    box-shadow:10px 10px 40px -14px #000;
}

.form h2 {
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#42213D;
    border-bottom:3px solid #42213D;
}

input, textarea {
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom: .1em solid #4F518C;
}

input:focus, textarea:focus {
    border-bottom: .1em solid #78788c;
}

button {
    float:right;
    padding: .5em .8em;
    margin: 1em 0 0;
    font-family:'Montserrat',sans-serif;
    border:.2em solid #C2C1C2;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
}

button:hover {
    background:#C2C1C2;
    color:#fff;
}

.ribbon {
    content: 'Hi';
    position: absolute;
    bottom: -4.5vh;
    right: -3.5vh;
    background: #017155;
    color: #fff;
    width: 55vh;
    max-width: 92vw;
    padding: .8em;
    border-radius: 6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000;
}

span {
    margin:0 .5em;
}

#map {
    margin:5vw 2vw;
    background-color: grey;
    width:64vh;
    height:74vh;
    max-width: 90vw;
}

@media screen and (max-width: 43em) {

    .container {
        flex-flow: column;
    }

    #map {
        margin-top: 10vw;
    }
}